@model MyEcommerceBook.Models.Product
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<li>
    <figure>
        <a class="aa-product-img" href="@Url.Action("ViewDetails", "Product1", new { id = Model.ProductId })">
            <img src="@Url.Content(Model.PicturePath)" alt="" class="img-fluid img-thumbnail" >
        </a>
        <a class="aa-add-card-btn" href="@(Accessor.HttpContext.Session.GetString("username") != null ? Url.Action("AddToCart", "Product1" , new { id=@Model.ProductId}) : Url.Action("Login", "Account" ))"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
        <figcaption>
            <h4 class="aa-product-title"><a href="#">@Model.Name</a></h4>
            <span class="aa-product-price">TK. @Model.UnitPrice</span><span class="aa-product-old-price">
                <del>
                    @if (Model.OldPrice != null)
                    {
                        <text>TK. @Model.OldPrice</text>
                    }
                </del>
            </span>
        </figcaption>
    </figure>
    <div class="aa-product-hvr-content">
        <a href="@(Accessor.HttpContext.Session.GetString("username")!=null ? Url.Action("WishList","Product1", new {id=@Model.ProductId }) :Url.Action("Login","Account"))" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
        <a href="@Url.Action("ViewDetails", "Product1", new { id = Model.ProductId })" title="View Details" data-toggle="tooltip" data-placement="top"><span class="fa fa-info"></span></a>
    </div>
</li>



